form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
form label {
    margin-right: 10px; 
}
  
form input {
    margin-right: 10px; 
}
  
form button {
    margin-top: 10px;
}
  